@import "https://unpkg.com/open-props";

/* 1. BASE */

* {
    box-sizing: border-box;
}

:root {
    font-family: Poppins, var(--font-sans);
}

body {
    display: grid;
    grid-template-columns: 1.3fr 3fr 1.5fr;
    padding: 20px;
    max-height: 100vh;
    background-color: #dde0e7;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

}

h1 {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-3);
}

h2 {
    font-size: var(--font-size-1);
}

h3 {
    font-size: var(--font-size-2);
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 0;
}

ul,
p {
    padding: 0;
    margin: 0;
}

.btn {

    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 999px;
    border: var(--border-size-4);
    font-size: 1rem;
    font-weight: 500;
    font-family: Poppins, var(--font-sans);
}

.panel-left {
    border-radius: 15px 0 0 15px;
    background-color: #fafafa;
    padding: 50px 30px;
}

.panel-middle {
    padding: 50px 50px;
    background-color: #fffdfe;
    border-right: 1px solid var(--gray-2);
    border-left: 1px solid var(--gray-2);
}


.panel-right {
    border-radius: 0 15px 15px 0;
    background-color: #fffdfe;
    padding: 50px 30px;
}



/* 2. LEFT PANEL  */

/* 2.1 avatar and name  */

.avatar {
    border-radius: 50%;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    position: relative;
}

.id {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
}

.main-avatar {
    grid-row: 1 / 3;

}

.main-avatar:hover {
    transform: rotate(15deg);
    transition: all 1s ease-out;
}

.job-title {
    font-size: 0.9rem;
    color: var(--gray-5);
    align-self: start;
    grid-row: 2 / 3;
}

.name {
    font-weight: 800;
    align-self: start;
    grid-area: "name";
    font-size: 1.2rem;
}

/* 2.2 menu */

.menu-title,
.favorites-title {
    font-size: 0.8rem;
    padding: 2em 0 1em 0;
    color: var(--gray-7)
}

.menu ul {
    display: grid;
    grid-template-rows: repeat(6, 2rem);
    gap: 1em;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight-7);
    color: #b5b7c5;
}


.menu-item:hover {
    color: #ef3661;
    border-left: 6px solid #ef3661;
    padding-left: 1.85rem;
    transform: translateX(-1.85rem);
    transition: 50ms;
}

.menu-item:active {
    color: var(--grape-7);

}




/* 2.3 favorites */


.favorites {
    margin: 3rem 0;
}

.favorites ul {
    display: grid;
    grid-template-rows: 2rem 2rem 2rem;
    gap: 1em;
    margin: 1em 0 0 0;
}

.circle {
    height: 1rem;
    width: 1rem;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
}

.circle.blue {
    border: 1.5px solid rgb(25, 142, 238);
}

.circle.pink {
    border: 1.5px solid pink;
}

.circle.cyan {
    border: 1.5px solid cyan;
}


.favorites li {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight-7);
    color: #b5b7c5;
}

/* 2.4 plus button */

.panel-left > .new-task {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 3rem 0;
    background-color: #c03858;

}

/* 2.5 copyright  */
.copyright {
    font-size: 0.9rem;
    color: var(--gray-5);
}


/* 3. MIDDLE PANEL  */

/* 3.1 top cards */

.panel-middle .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.completion-rate {
    font-size: 0.8rem;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 1em;
}

.card {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;

    border-radius: 25px;
    align-items: center;
    padding: 20px;
    box-shadow: var(--shadow-2);

}

.card:first-of-type {
    background-color: #ef3661;
}

.card:nth-of-type(2) {
    background-color: var(--grape-7);
}

.card:hover {
    box-shadow: var(--shadow-4);
    transition: 250ms ease-in-out;
}

.card-icon {
    font-size: 2rem;
    color: white;
    background-color: rgb(0 0 0 / 20%);
    padding: 0.2em;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;

}

.card-icon:hover {
    transform: scale(1.1);
    transition: all ease 250ms;
}


.card-ellipsis {
    justify-self: end;
    border-radius: 50%;
    padding: 0.5em;

}

.card-ellipsis:hover {
    background-color: #c03858;
    transition: 250ms;
}

.card-title {
    grid-area: 2 / 1 / 3 / 3;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;

}

.avatars {
    /* grid-area: 3 / 1 / 4 / 3; */

}

/* 3.2 Monthly tasks  */

/* 3.2.1 first header */
.active-completed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-4);
    font-weight: 600;
    color: var(--gray-5);
    text-transform: uppercase;
    font-size: .8rem;

}

.btn.new-task {
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: var(--grape-9);
    color: white;
}

.btn.new-task:hover {
    box-shadow: var(--shadow-4);
    transition: 250ms ease-in-out;
    background-color: var(--grape-7);
}

.btn.archive {
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: var(--gray-1);
    color: var(--grape-9);
}

.btn.archive:hover {
    box-shadow: var(--shadow-3);
    transition: 250ms ease-in-out;
    background-color: var(--gray-3);
}


/* 3.2.2 second header  */

:is(.tasks-active, .tasks-completed, .search) {
    padding: 1em 0 0 0;
    /* border-bottom: 1px solid var(--gray-4); */
    padding-bottom: 1em;
}

:hover:is(.tasks-active, .tasks-completed, .search) {
    color: var(--grape-7);
    font-weight: 900;
    transition: 250ms;
}

:active:is(.tasks-active, .tasks-completed, .search) {
    color: var(--grape-9);
}


.tasks-header {
    display: flex;
    gap: 1.5em;

}


.search {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 4px;

}


.monthly-task {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

.task-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* 3.2.3 the tasks themeselves */

.tasks {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    grid-template-areas:
        "client-logo task-description ."
        "client-logo task-description .";
    padding: 0.5em 0;
    align-items: center;

}

.tasks:hover {
    background-color: var(--gray-1);
}

.client-logo {
    grid-area: "client-logo";
    width: 2.5rem;
    justify-self: center;
}

.client-name {
    grid-area: "client-name";
    font-size: 1.2rem;
    font-weight: 700;
}

.task-description {
    grid-area: "task-description";
}

.task-proper {
    display: flex;
    color: var(--gray-5);
}

.due-date {
    padding-left: 3px;
}

.due-date::before {
    content: "~ ";
}

.tasks-today,
.task-tomorrow {
    padding-bottom: 1em;
}

/* 4. RIGHT PANEL */
